bg-img($url, $width, $height)
  width $width
  height $height
  background url($url) no-repeat center
  background-size contain

cover-shadow()
  position relative
  border 1px solid #f0f0f0
  border-bottom none
  overflow hidden
  background-color #eeece9
  box-shadow 0 6px 5px -3px #aaa

single-line()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap